/* Fonts */
@font-face {
  font-family: "Carrois-Gothic";
  src: url("../fonts/CarroisGothic-Regular_0.woff");
}
@font-face {
  font-family: "Francois-One";
  src: url("../fonts/FrancoisOne.woff");
}
@font-face {
  font-family: "Minion-Pro";
  src: url("../fonts/MinionPro.woff");
}
@font-face {
  font-family: "Zetafonts-Brush";
  src: url("../fonts/Zetafonts - Freehand Brush Easy.woff");
}
@font-face {
  font-family: "Zetafonts-Icon";
  src: url("../fonts/Zetafonts.Freehand.Icon.UI.woff");
}

.debug {
  float: left;
  margin-right: 21px;
  font-weight: bold;
}

body {
  background-color: #EEEDDA;
  font-family: "Carrois-Gothic";
  min-height: 2000px;
}

* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 21px;
  padding-right: 21px;
  max-width: 987px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.container-small {
  padding-left: 13px;
  padding-right: 13px;
  max-width: 610px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.spacer-102 {
  height: 102px;
}
.spacer-89 {
  height: 89px;
}
.spacer-55 {
  height: 55px;
}
.paddingTop {
  top: 55px !important;
}


.navi {
  position: absolute;
  width: 100%;
  background: #262626;
  height: 55px;
  border-bottom: 28px solid #ff670b;
  box-sizing: content-box;
  z-index: 2;
  top: 0;
}
@media (max-width: 425px) {
  .navi ul {
    display: none;
  }
}

.navi ul {
  float: right;
}
.navi ul li {
  list-style: none;
  float: left;
  height: 55px;
  margin-right: 55px;
}
.navi ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 55px;
}
.navi ul li:last-child {
  margin-right: 0;
}

div.header {
  position: relative;
  background: url(../img/startbild.jpg) no-repeat;
  background-position: 100% -100px;
  margin-top: 55px;
  background-size: cover;
  height: 355px;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1540px) {
  div.header {
    height: 444px;
  }
}

.comb-wrapper {
  position: relative;
  top: -21px;
}
div.header .comb {
  position: absolute;
  z-index: 2 ;
  width: 140px;
}
@media (max-width: 425px) {
  div.header .comb {
    width: 110px;
  }
}

.logo-zimmer img {
  position: absolute;
  width: 140px;
  height: auto;
  top: -34px;
  left: -55px;
  z-index: 2;
}
@media (max-width: 1024px) {
  .logo-zimmer img {
    top: -89px;
    left: 0;
  }
}
.comb-logo {
  left: 500px;
  top: -300px;
  opacity: 0;
  transition: transform 1s;
}
.comb-logo.anim {
  transform: rotate(720deg);
}

.comb-phone {
  left: -250px;
  top: -300px;
  opacity: 0;
  transition: transform 1s;
}
.comb-phone.anim {
  transform: rotate(720deg);
}

.comb-price {
  left: 450px;;
  top: calc(173px / 2);
  opacity: 0;
  transition: transform 1s;
}
.comb-price.anim {
  transform: rotate(-720deg);
}

.comb-bed {
  left: 300px;
  top: calc((173px + 5px) + ((173px + 5px) / 2));
  opacity: 0;
  transition: transform 1s;
}
.comb-bed.anim {
  transform: rotate(720deg);
}

.green-stripe {
  width: 100%;
  height: 28px;
  background: #a69f44;
}
.uppercase {
  text-transform: uppercase;
}
.fl-right {
  float: right;
}

.headline {
  font-weight: 300;
  font-size: 14px;
  margin-top: 13px;
}
.sub-headline {
  font-size: 12px;
  line-height: 21px;
}

.social-icons-top {
  font-family: 'Zetafonts-Icon';
}
.social-icons-top a {
  float: right;
  margin-right: 21px;
  color: white;
  text-decoration: none;
  line-height: 28px;
  font-size: 14px;
}
.social-icons-top a:first-child {
  margin-right: 0;
}

.fade-in {
  left: -900px;
  opacity: 0;
}
.overview-item {
  clear: both;
}
.overview-item-left {
  float: left;
  width: 45%;
}
.overview-item-left:after {
  content: '';
  position: relative;
  top: -45px;
  left: 90%;
  display: inline-block;
  background: url(../img/schraube.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
}
.overview-item-right {
  width: 55%;
  float: right;
  /*
    height is computed with javascript
  */
  height: 100px;
}
.overview-item-right a.item-details-link {
  position: relative;
  display: block;
  float: right;
  bottom: 42px;
  right: 25px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  z-index: 1;
}

@media (max-width: 480px) {
  .overview-item-right a.item-details-link {
    font-size: 14px !important;
    bottom: 16px;
    right: 3px;
  }
  .overview-item-left:after {
    top: -34px;
    width: 34px;
    height: 34px;
  }
  .item-descr span.name {
    font-size: 16px !important;
  }
  .wievielmann {
    font-size: 16px;
  }
}
.item-head {
  background: #3b464d;
  color: white;
  text-align: center;
  padding: 8px 13px;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-descr {
    background: #c9c598;
    color: #333;
    height: 65%;
    text-align: center;
    font-size: 18px;
    padding: 21px 0;
}
.overview-image img {
  position: relative;
  width: 100%;
}

.item-descr span.name {
  font-family: 'Zetafonts-Brush';
  margin-right: 5px;
  font-size: 21px;
}
.item-descr span.name:before {
  content: '„';
  margin-right: 3px;
}
.item-descr span.name:after {
  content: '“';
  margin-left: 3px;
}

.zimmer-left {
  float: left;
  width: 75%;
}

/* Height is computed in main.js */
.zimmer-right {
  float: right;
  width: calc(25% - 21px);
  margin-left: 21px;
}

.anfrage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  background: #a69f44;
}
.anfrage span {
  font-weight: bold;
  font-size: 21px;
}


/* Height is percentage of .zimmer-right */
.preis-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 23%;
  font-weight: bold;
  font-size: 21px;
  background: rgba(253,252,239, 1);
  margin-top: 13px;
}
.middle-box {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background: rgba(253,252,239, 1);
  height: 27%;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.middle-box ul span, .bottom-box ul span {
  display: block;
  position: relative;
  left: -18px;
  padding-bottom: 8px;
}
.bottom-box {
  background: rgba(253,252,239, 1);
  height: calc(40% - 16px);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.anfrage-mobile-wrapper {
  display: none;
}
.anfrage-mobile {
  float: left;
  width: 60%;
  height: 55px;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 34px;
  background: rgb(249,102,28);
  font-weight: bold;
  font-size: 21px;
  color: #333;
  cursor: pointer;
}
.preis-ab-mobile {
  width: 40%;
  float: right;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: rgb(253,252,239);
  color: rgba(166,159,68,1);
  font-weight: bold;
  font-size: 21px;
  border: 3px solid rgb(249,102,28);
}



@media (max-width: 920px) {
  .bottom-box, .middle-box {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  .zimmer-left, .zimmer-gray-stripe, .zimmer-green-stripe, .zimmer-beschreibung-full {
    width: 100% !important;
  }
  .zimmer-right {
    display: none;
  }
  .anfrage-mobile-wrapper {
    display: block;
  }
  .logo-zimmer img {
    width: 89px;
    top: -100px;
    cursor: pointer;
  }
}

.middle-box ul, .bottom-box ul {
  padding-left: 34px;
}

div.clear-both {
  clear: both;
}
.zimmer-gray-stripe {
  position: relative;
  margin-top: 21px;
  background: rgba(74,82,92,1);
  color: white;
  padding: 13px 21px 13px 21px;
  width: 75%;
  height: 68px;
  display: flex;
  align-items: center;
}
.zimmer-green-stripe {
  width: 75%;
  background: rgba(166,159,68,1);
  height: 55px;
  padding: 8px 34px 8px 8px;
  display: flex;
  align-items: center;
}
.zimmer-green-stripe .name {
  font-family: 'Zetafonts-Brush';
  font-size: 21px;
}
.zimmer-green-stripe span.name-add {
  font-size: 21px;
  font-weight: bold;
  margin-left: 21px;
}
.zimmer-green-stripe:before {
  position: relative;
  content: '';
  display: block;
  align-items: center;
  background: url(../img/schraube.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
  left: -8px;
  top: 11px;
}

ul.zimmer-social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

ul.zimmer-social-icons li {
  margin-right: 21px;
}
ul.zimmer-social-icons li a {
  color: white;
  text-decoration: none;
  font-family: 'Zetafonts-Icon';
  font-size: 21px;
}
div.zimmer-ort {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 21px;
}

@media (max-width: 511px) {
  div.zimmer-ort {
    font-size: 14px;
  }
  ul.zimmer-social-icons li {
    margin-right: 13px;
  }
  ul.zimmer-social-icons li a {
    font-size: 16px;
  }
}

.zimmer-titel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.zimmer-beschreibung-full {
  background: rgba(253,252,239, 1);
  width: 75%;
  padding: 21px 34px;
}
.zimmer-beschreibung-full p {
  line-height: 21px;
}
.zimmer-beschreibung-full h2 {
  font-weight: normal;
}
.ul-beschreibung-full {
  margin: 21px 0;
}
.ul-beschreibung-full li {
  margin-left: 21px;
  line-height: 24px;
}
