
.debug {
  float: left;
  margin-right: 21px;
  font-weight: bold;
}

body {
  background-color: #EEEDDA;
  font-family: "Carrois-Gothic";
  min-height: 900px;
}

* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 21px;
  padding-right: 21px;
  max-width: 987px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.container-small {
  padding-left: 13px;
  padding-right: 13px;
  max-width: 610px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.spacer-102 {
  height: 102px;
}
.spacer-89 {
  height: 89px;
}
.spacer-55 {
  height: 55px;
}
.paddingTop {
  top: 55px !important;
}


.navi {
  position: absolute;
  width: 100%;
  background: #262626;
  height: 55px;
  border-bottom: 5px solid #ff670b;
  box-sizing: content-box;
  z-index: 2;
  top: 0;
}
@media (max-width: 506px) {
  .navi ul {
    display: none;
  }
}

.navi ul {
  float: right;
}
.navi ul li {
  list-style: none;
  float: left;
  height: 55px;
  margin-right: 55px;
}
.navi ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 55px;
}
.navi ul li:last-child {
  margin-right: 0;
}

div.header {
  position: relative;
  background: url("../img/startbild.jpg") no-repeat;
  background-position: 100% -100px;
  margin-top: 55px;
  background-size: cover;
  height: 355px;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1280px) {
  div.header {
    height: 266px;
  }
}
@media (max-width: 1025px) {
  div.header {
    height: 200px;
  }
}
@media (max-width: 820px) {
  div.header {
    height: 180px;
    background: url(../img/startbild.jpg) no-repeat;
    background-size: cover;
    background-position: 100% -50px;
  }
}
@media (max-width: 650px) {
  div.header {
    height: 150px;
  }
}
@media (max-width: 506px) {
  div.header {
    height: 250px;
    background: url(../img/startbild_mobile.jpg) no-repeat;
    background-size: auto;
    background-position: -150px 0;
  }
}
@media (max-width: 375px) {
  div.header {
    background-position: -200px 0;
  }
}
@media (min-width: 1540px) {
  div.header {
    height: 444px;
  }
}

.comb-wrapper {
  position: relative;
  top: -21px;
}
div.header .comb {
  position: absolute;
  z-index: 2 ;
  width: 140px;
}
@media (max-width: 768px) {
  div.header .comb {
    width: 110px;
  }
}

.logo-kontakt {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.logo-kontakt img {
  width: 89px;
}

.logo-zimmer img {
  position: absolute;
  width: 140px;
  height: auto;
  top: -34px;
  left: -55px;
  z-index: 2;
}
@media (max-width: 1024px) {
  .logo-zimmer img {
    top: -89px;
    left: 0;
  }
}
.comb-logo {
  left: 500px;
  top: -300px;
  opacity: 0;
  transition: transform 1s;
}
.comb-logo.anim {
  transform: rotate(720deg);
}

.comb-phone {
  left: -250px;
  top: -300px;
  opacity: 0;
  transition: transform 1s;
}
.comb-phone.anim {
  transform: rotate(720deg);
}

.comb-price {
  left: 450px;;
  top: calc(173px / 2);
  opacity: 0;
  transition: transform 1s;
}
.comb-price.anim {
  transform: rotate(-720deg);
}

.comb-bed {
  left: 300px;
  top: calc((173px + 5px) + ((173px + 5px) / 2));
  opacity: 0;
  transition: transform 1s;
}
.comb-bed.anim {
  transform: rotate(720deg);
}

.green-stripe {
  width: 100%;
  height: 28px;
  background: #a69f44;
}
.uppercase {
  text-transform: uppercase;
}
.fl-right {
  float: right;
}

.headline {
  font-weight: 300;
  font-size: 14px;
  margin-top: 13px;
}
.sub-headline {
  font-size: 12px;
  line-height: 21px;
}

.social-icons-top {
  font-family: 'Zetafonts-Icon';
}
.social-icons-top a {
  float: right;
  margin-right: 21px;
  color: white;
  text-decoration: none;
  line-height: 28px;
  font-size: 14px;
}
.social-icons-top a:first-child {
  margin-right: 0;
}

.fade-in {
  left: -900px;
  opacity: 0;
}
.overview-item {
  clear: both;
  cursor: pointer;
}
.overview-item-left {
  float: left;
  width: 45%;
}
.overview-item-left:after {
  content: '';
  position: relative;
  top: -45px;
  left: 90%;
  display: inline-block;
  background: url(../img/schraube.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
}
.overview-item-right {
  width: 55%;
  float: right;
  /*
    height is computed with javascript
  */
  height: 100px;
}
.overview-item-right a.item-details-link {
  position: relative;
  display: block;
  float: right;
  bottom: 42px;
  right: 25px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  z-index: 1;
}

@media (max-width: 480px) {
  .overview-item-right a.item-details-link {
    display: none;

    bottom: 16px;
    right: 3px;
  }
  .overview-item-left:after {
    top: -34px;
    width: 30px;
    height: 30px;
  }
  .item-descr span.name {
    font-size: 12px !important;
  }
  .wievielmann {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .overview-item-left:after {
    top: -24px;
    left: 120px;
    width:21px;
    height:21px;
  }
}
.item-head {
  background: #3b464d;
  color: white;
  text-align: center;
  padding: 8px 13px;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-descr {
    background: #c9c598;
    color: #333;
    height: 65%;
    text-align: center;
    font-size: 18px;
    padding: 21px 0;
}
.overview-image img {
  position: relative;
  width: 100%;
}

.item-descr span.name {
  font-family: 'Zetafonts-Brush';
  margin-right: -3px;
  font-size: 21px;
}
.item-descr span.name:before {
  content: '„';
  margin-right: 3px;
}
.item-descr span.name:after {
  content: '“';
  margin-left: 3px;
}

.zimmer-left {
  float: left;
  width: 75%;
}

/* Height is computed in main.js */
.zimmer-right {
  float: right;
  width: calc(25% - 21px);
  margin-left: 21px;
  opacity: 0;
}

.anfrage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  background: #a69f44;
  cursor: pointer;
}
.anfrage span {
  font-weight: bold;
  font-size: 21px;
}


/* Height is percentage of .zimmer-right */
.preis-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 23%;
  font-weight: bold;
  font-size: 21px;
  background: rgba(253,252,239, 1);
  margin-top: 13px;
}
.middle-box {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background: rgba(253,252,239, 1);
  height: 27%;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.middle-box ul span, .bottom-box ul span {
  display: block;
  position: relative;
  left: -18px;
  padding-bottom: 8px;
}
.bottom-box {
  background: rgba(253,252,239, 1);
  height: calc(40% - 16px);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.anfrage-mobile-wrapper {
  display: none;
}
.anfrage-mobile {
  float: left;
  width: 60%;
  height: 34px;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 34px;
  background: rgb(249,102,28);
  font-weight: bold;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}
.preis-ab-mobile {
  width: 40%;
  float: right;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: rgb(253,252,239);
  color: rgba(166,159,68,1);
  font-weight: bold;
  font-size: 18px;
  border: 3px solid rgb(249,102,28);
}



@media (max-width: 920px) {
  .bottom-box, .middle-box {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  .zimmer-left, .zimmer-gray-stripe, .zimmer-green-stripe, .zimmer-beschreibung-full {
    width: 100% !important;
  }
  .zimmer-right {
    display: none;
  }
  .anfrage-mobile-wrapper {
    display: block;
  }
  .logo-zimmer img {
    width: 89px;
    top: -100px;
    cursor: pointer;
  }
}

.middle-box ul, .bottom-box ul {
  padding-left: 34px;
}

div.clear-both {
  clear: both;
}
.zimmer-gray-stripe {
  position: relative;
  margin-top: 21px;
  background: rgba(74,82,92,1);
  color: white;
  padding: 13px 21px 13px 21px;
  width: 75%;
  height: 68px;
  display: flex;
  align-items: center;
}
.zimmer-green-stripe {
  width: 75%;
  background: rgba(166,159,68,1);
  height: 55px;
  padding: 8px 34px 8px 8px;
  display: flex;
  align-items: center;
}
.zimmer-green-stripe .name {
  font-family: 'Zetafonts-Brush';
  font-size: 21px;
}
.zimmer-green-stripe span.name-add {
  font-size: 21px;
  font-weight: bold;
  margin-left: 21px;
}
@media (max-width: 480px) {
  .zimmer-green-stripe span.name-add {
    font-size: 14px;
  }
}
.zimmer-green-stripe:before {
  position: relative;
  content: '';
  display: block;
  align-items: center;
  background: url(../img/schraube.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 55px;
  height: 55px;
  left: -8px;
  top: 11px;
}

ul.zimmer-social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

ul.zimmer-social-icons li {
  margin-right: 21px;
}
ul.zimmer-social-icons li a {
  color: white;
  text-decoration: none;
  font-family: 'Zetafonts-Icon';
  font-size: 21px;
}
div.zimmer-ort {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 21px;
}

@media (max-width: 511px) {
  div.zimmer-ort {
    font-size: 14px;
  }
  ul.zimmer-social-icons li {
    margin-right: 13px;
  }
  ul.zimmer-social-icons li a {
    font-size: 16px;
  }
}

.zimmer-titel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.zimmer-beschreibung-full {
  background: rgba(253,252,239, 1);
  width: 75%;
  padding: 21px 34px;
}
.zimmer-beschreibung-full p {
  line-height: 21px;
}
.zimmer-beschreibung-full h2 {
  font-weight: normal;
}
.ul-beschreibung-full {
  margin: 21px 0;
}
.ul-beschreibung-full li {
  margin-left: 21px;
  line-height: 24px;
}

.kontakt-formular {
  margin-top: 144px;
}
.kontakt-formular input[type="text"], input[type="email"], textarea {
  display: block;
  padding: 13px;
  width: 100%;
  color: #333;
  border: 0;
  margin-bottom: 13px;
}
.kontakt-formular textarea {
  min-height: 266px;
}

.kontakt-formular input[type="submit"] {
  display: block;
  padding: 13px;
  width: 100%;
}

/* Mobile nav */
.burgerBun {
  position: fixed;
  width: 55px;
  height: 55px;
  /*background: white;*/
  border-radius: 100%;
  top: 0px;
  right: 13px;
  z-index: 999;
  opacity: 0.8;
  background: transparent;
	display: none;
}
@media (max-width: 506px) {
  .burgerBun {
    display: block;
  }
}

.burgerMenu {
  position: absolute;
  top: 17px;
  left: 11px;
  display: block;
  width: 40px;
  height: 36px;
  cursor: pointer;
}

.burgerMenu span.menu1, .burgerMenu span.menu2, .burgerMenu span.menu3 {
  display: block;
  position: absolute;
  border-radius: 5px;
  width: 34px;
  height: 5px;
  left: 0;
  background: #eee;
  -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
  transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}

.burgerMenu span.menu1 {
  top: 0;
}
.burgerMenu span.menu2 {
  top: 8px;
}
.burgerMenu span.menu3 {
  top: 16px;
}

.burgerMenu.active span.menu1 {
        top: 14px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}
.burgerMenu.active span.menu2 {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
	top: 14px;
}
.burgerMenu.active span.menu3 {
        opacity: 0;
        -webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
        transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}


.mobile-menu {
    display: block;
    top: 0;
    position: fixed;
    padding: 21px;
    right: -242px;
    width: 200px;
    transition: all .5s;
    box-shadow: 0 -5px 5px rgba(0,0,0,0.4);
    background: rgb(253,252,239);
    height: 100%;
    z-index: 99;
}
.mobile-menu ul {
    position: relative;
    top: 89px;
    list-style:none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align:center;
}
.mobile-menu ul li {
    text-align: right;
    margin-bottom: 34px;
    margin-right: 21px;
}
.mobile-menu ul li a {
    color: black;
    padding: 13px;
    transition: all .3s;
    text-decoration: none;
}
.mobile-menu ul li a:hover, .mobile-menu ul li a:focus, .mobile-menu ul li a:active {
    background: #ff670b;
    color: white;
}
.menu-toggle {
    right: 0px;
}
 /* END mobile menu*/

 .checkbox input {
   float: left;
   margin-right: 8px;
 }

 /* FAQ */
 .faq-container {
   margin-top: 144px;
   line-height: 29px;
 }
 .faq-container h1 {
   font-size: 24px;
   margin: 34px 0;
 }
 .faq-container h2 {
   font-size: 16px;
   margin-top: 24px;
 }
 .faq-text, .faq-list {
   padding-left: 55px;
 }

 @media (max-width: 425px) {
   .faq-text, .faq-list {
     padding-left: 13px;
   }
 }

 .container-kontakt,  {
   min-height: 900px;
 }
.container-impressum {
  min-height: 900px;
  margin-top: 144px;
}

footer {
  min-height: 144px;
  padding: 21px;
  margin-top: 89px;
  background: #262626;
  border-top: 5px solid rgb(249,102,28);
}
.footer-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.footer-container ul li {
  display: inline-block;
  margin-right: 55px;
}
.footer-container ul li:last-child {
  margin-right: 0;
}

@media (max-width: 425px) {
  .footer-container ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 21px;
  }
}

.footer-container ul li a {
  text-decoration: none;
  color: #d2d2d2;
}
.footer-container ul li a:hover {
  color: white;
}
.copyright {
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 34px;
  padding-bottom: 21px;
}
